:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.carousel {
  &--list{
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start; 
    align-items: center;
    gap: 1rem;
    width: 610px;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
  }
  &--wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
  }
  &--item {
  flex-shrink: 0;
  transition: width 0.4s ease;
  position: relative;
  width: 122px;
  height: 150px;
  overflow: hidden;
  border: 1px solid #fff;
  border-radius: 3px;
  
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .main-image {
    transition: all 0.4s ease;
    width: 100%;
    height: 100%;
  }

  .expanded-image {
    transition: all 0.4s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    //display: none;
    .movie-title {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      padding: 10px;
      background: linear-gradient(transparent, rgba(0,0,0,0.8));
      color: white;
      
      h3 {
        margin: 0;
        font-size: 1.2rem;
      }
      
      p {
        margin: 5px 0 0;
        font-size: 0.9rem;
      }
    }
  }

  &:hover {
    width: 300px;

    .main-image {
      opacity: 0;
      transform: scale(1.2);
    }

    .expanded-image {
      opacity: 1;
      visibility: visible;
    }
  }
  }





  // &--item {
  //   transition: all 0.3s ease;
  //   position: relative;
  //   width: 200px;
  //   height: 150px;
  //   //min-width: 200px;
  //   flex-shrink: 0;

  //   img {
  //     object-fit: cover;
  //     width: 100%;
  //     height: 100%;
  //   }

  //   // .cover {
  //   //   opacity: 1;
  //   //   display: block;
  //   // }

  //   // img:nth-of-type(2) {
  //   //   display: none;
  //   // }

  //   p {
  //     width: 100%;
  //     text-align: center;
  //   }

  //   &:hover {
  //     //transform: scale(1.2);
  //     z-index: 1;
  //     transform: width;
  //     width: 300px;

  //     .cover {
  //       opacity: 0;
  //       display: none;
  //     }
      
  //     // & ~ .carousel--item {
  //     //   transform: translateX(100px); // Push items right
  //     // }
      
  //     // &:not(:first-child) {
  //     //   // Pull previous items left when not first item
  //     //   .carousel--item:not(:hover) {
  //     //     transform: translateX(-50px);
  //     //   }
  //     // }

  //     // img:nth-of-type(2) {
  //     //   display: block;
  //     // }
  //     // img:nth-of-type(1) {
  //     //   display: none;
  //     // }
  //   }
  // }
}
